<script>
  $(function(){
    $('.chessboard .row img').draggable({
      containment: '.chessboard',
      cursor: 'move',
      snap: '.row',
      snapMode: 'center',
      revert: true
    });
    $('.chessboard .row div').droppable({
      activeClass: "ui-state-hover",
      hoverClass: "ui-state-active",
      drop: function(event, ui) {
        var chessPiece = ui.draggable;
        var droppedOn = $(this);
        var x = droppedOn.index();
        var y = droppedOn.parent('div').data('id');
        $.ajax({
          type: 'PUT',
          url: chessPiece.data('update-url'),
          dataType: 'text',
          data: {piece: {x_position: x, y_position: y}}
        })
        .fail(function() {
          $('#dialog-message').dialog({
            modal: true,
            buttons: {
            Ok: function() {
              $(this).dialog('close');
              }
            }
          })
        })
        .done(function() {
          $(chessPiece).detach().css({top: 0, left: 0}).appendTo(droppedOn);
        });
      }
    });
  });//close ready 
</script>

<br>
<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
  	<h1 class=""><%= @game.name %></h1>
  	<div class="chessboard center-block">

      <% 8.times do |row_coordinate| %>
        <div class="row" data-id="<%= row_coordinate %>">

          <% 8.times do |column_coordinate| %>
            <% if row_coordinate.even? %>
              <div class="<%= cycle("white even", "black even") %>">
            <% else %>
              <div class="<%= cycle("black odd", "white odd") %>">
          <% end %>

          <!-- piece_at method in the pieces model -->
          <% if @game.piece_at(column_coordinate, row_coordinate) %>
            <img data-update-url="<%= piece_path(@game.piece_at(column_coordinate, row_coordinate).id) %>" src="/assets/<%= @game.piece_at(column_coordinate, row_coordinate).to_my_image_path %>">
          <% end %>

            </div>
          <% end %>

        </div>
      <% end %>

    </div><!-- chessboard end -->
  </div>
 <div class-"hide" id="dialog-message" title="Invalid Move">Please try again...</div> 
<div><!-- bootstrap grid css end -->
